<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>登录</title>
    </head>
    <body>
 	    <table>
		    <tbody>
		    {# enctype="multipart/form-data    上传文件需要加入该参数 #}
				<form action="" method="POST" enctype="multipart/form-data">       
					{% csrf_token %}
					<tr>
						<td><label>用户名</label></td>
						<td><input type="text" name="username" placeholder="请输入用户名"></td>
					</tr>
					<tr>
						<td><label>邮箱</label></td>
						<td><input type="email" name="email" placeholder="请输入邮箱"></td>
					</tr>

					<tr>
						<td><label>密码</label></td>
						<td><input type="password" name="password" placeholder="请输入密码"></td>
					</tr>
					<tr>
						<td><label>重复密码</label></td>
						<td><input type="password" name="repassword" placeholder="请再次输入密码"></td>
					</tr>

					<tr>
						<td><label>选择文件</label></td>
						<td><input type="file" value="选择文件" name="avatar"></td>          
					</tr>

					<tr>
						<td></td>
						<td><input type="submit" value="注册"></td>
					</tr>

					<tr>
						<td>
							{% autoescape on %}
								{{errors}}
							{% endautoescape %}

						</td>
					</tr>


				</form>
		    </tbody>
 	    </table> 
    </body>
</html>